
 @font-face { font-style : normal; src: url("assets/fonts/WorkSansRegular.ttf"); font-family : "Work Sans"; font-weight : 400;  }
 @font-face { font-style : bold; src: url("assets/fonts/WorkSansRomanMedium.ttf"); font-family : "Work Sans"; font-weight : 500;  }
 @font-face { font-style : normal; src: url("assets/fonts/WorkSansRomanRegular.ttf"); font-family : "Work Sans"; font-weight : 400;  }
 @font-face { font-style : bold; src: url("assets/fonts/WorkSansMedium.ttf"); font-family : "Work Sans"; font-weight : 500;  }
 @font-face { font-style : bold; src: url("assets/fonts/WorkSansRomanSemiBold.ttf"); font-family : "Work Sans"; font-weight : 600;  }
 @font-face { font-style : bold; src: url("assets/fonts/WorkSansSemiBold.ttf"); font-family : "Work Sans"; font-weight : 600;  }
 @font-face { font-style : bold; src: url("assets/fonts/WorkSansRomanLight.ttf"); font-family : "Work Sans"; font-weight : 300;  }
 @font-face { font-style : bold; src: url("assets/fonts/WorkSansRomanBold.ttf"); font-family : "Work Sans"; font-weight : 700;  }